.App {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.67em;
}

.Todo-Container {
  margin: 1em;
}

.Forms-Input {
  border-radius: 5px;
  width: 95%;
  padding: 0.5em;
  margin-top: 5px;
}

.Complete-Button {
  margin-left: 0.6em;
  background-color: #98fb98;
  border-radius: 5px;
  padding: 5px 5px;
}

.Remove-Button {
  margin-left: 0.5em;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
